<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANCO DE COLOMBIA</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <h1>BANCO<b>COLOMBIA</b></h1>
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="/" >INDIVIDUAL</a></li>
                        <li class="menu-selected"><a href="/DOCUMENTO" class="text-menu-selected">DOCUMENTO</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 align="center">CONSULTA DOCUMENTO</h2>
    <br>
    <p>Por favor adjunte el documento con los clientes (.json)</p>
    <br>
    <form id = "myForm" action="/DOCUMENTO" method="POST">
        <br>
        <input type="file" name="archivosubido" accept=".json"></input>
        <br>
        <br>
        <input type="submit" value = OK />
    </form>
    <br>
    <p>Resultados obtenidos</p>
    <table class="center">
        <tr>
          <td style="text-align: center; vertical-align: middle;", class="center">
          {% for table in tables %}
              {{ table|safe }}
          {% endfor %}
          </td>  
        </tr>
    </table>
    <div class="container-footer">
        <footer>
            <div class="logo-footer">
                <img src="/static/img/img3.png" alt="">
            </div>
            <h7>BANCO COLOMBIA</h7>
            <hr>
            <h8>CONSULTA CHURN</h8>
        </footer>
    </div>
    <br>
    <br>
</body>
</html>